* {
    @include box-sizing(border-box);
}

body {
    background: $color-base-background;
    color: $color-base-foreground;
    margin: 0;
    overflow-x: hidden;
}

a:link {
    color: $color-link-hover;
    text-decoration: underline;
}

a:visited {
    color: $color-link-hover;
}

a:hover {
    color: $color-link-hover;
}

img {
    max-width: 100%;
}

.section-content {
    margin: 0 auto;
    width: 800px;
}

section > .window p {
    margin: 0 auto;
    width: 800px;
}

.bubble {
    background: $color-nk-white;
    opacity: 1;
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 50px);
}

.bubble:nth-child(2) {
    background: red;
}

.bubble:nth-child(3) {
    background: orange;
}

#inky {
    background: $color-nk-blue;
    margin: auto;
    position: relative;
    width: 100%;
    height: 400px;
}

#inky .window {
    width: 100%;
}

#inky .group-1,
#inky .group-2 {
    position: absolute;
    width: 100%;
    top: 0;
}

#inky .group-1 {
    left: -25px;
}

#inky .group-2 {
    left: 25px;
}

#inky .group-2 .bubble {
    background: $color-nk-green;
}

#squid-text {
    padding-top: 4rem;
    padding-left: 13rem;
}

#summary {
    position: relative;
    height: 100vh;
    text-align: center;
    width: 100%;
    top: 0;
}

#summary .background-plane {
    // Needs latest Compass, add '@import "compass"' to your scss
    // Permalink - use to edit and share this gradient:
    // http://colorzilla.com/gradient-editor/#232222+10,105db5+100
    background-color: $color-nk-black; // Old browsers
    @include filter-gradient($color-nk-black, $color-nk-blue, horizontal); // IE6-9
    // @include background-image(linear-gradient(top, $color-nk-black 10%,$color-nk-blue 70%));
    @include background-image(linear-gradient(top, #232222 10%,#062544 20%,#105db5 100%));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

#summary .copy {
    position: relative;
    top: -1.15rem;
    z-index: 1;
}

#summary .copy h2 {
    margin-top: 0;
}

#summary .copy svg {
  display: block;
  width: 800px;
  margin: auto;
}

#summary svg text {
    fill: $color-nk-green;
}

#summary .back-overlay-1 {
    background-color: $color-nk-white;
    position: relative;
    width: 100%;
    z-index: 1;
}

#summary .back-overlay-1 .waves {
    background: transparent url("/images/waves-soft-surface-white.svg") repeat-x;
}

#summary .back-overlay-2 {
    background-color: $color-nk-black;
    position: relative;
    top: -23px;
    transform: scaleX(-1);
    width: 100%;
    z-index: 2;
}

#summary .back-overlay-2 .waves {
    background: transparent url("/images/waves-soft-surface.svg") repeat-x;
    background-position-x: 57%;
}

#summary .waves {
    height: 41px;
    left: 0;
    position: relative;
    top: -27px;
    width: 300%;
}
textPath {
  font-family: "essonnes-display", serif;
  font-size: 1.2rem;
}
