// colors
$color-base-background: $color-solarized-base03;
$color-base-foreground: $$color-solarized-base3;
$color-link-unvisited: $color-solarized-blue;
$color-link-visited: $color-solarized-violet;
$color-link-hover: $color-solarized-magenta;
$color-accent: $color-solarized-yellow;
$color-neutral: $color-solarized-base1;
$color-primary: $color-solarized-blue;

h1,h2,h3 {
  color: $color-accent;
}
